In [82]:
#DOWNLOADING DATA##

In [83]:
import pandas as pd

In [84]:
gitCloudRepo='https://github.com/543-Van-Deliverables/Deliverable-1/raw/main/'
fileName="us-counties-2020.csv"

In [85]:
COVIDSTATECASES=pd.read_csv(gitCloudRepo + fileName)

In [86]:
COVIDSTATEDEATHS=pd.read_csv(gitCloudRepo + fileName)

In [87]:
##CLEANING DATA##

In [88]:
(COVIDSTATECASES.columns,COVIDSTATEDEATHS.columns)

(Index(['date', 'geoid', 'county', 'state', 'cases', 'cases_avg',
        'cases_avg_per_100k', 'deaths', 'deaths_avg', 'deaths_avg_per_100k'],
       dtype='object'),
 Index(['date', 'geoid', 'county', 'state', 'cases', 'cases_avg',
        'cases_avg_per_100k', 'deaths', 'deaths_avg', 'deaths_avg_per_100k'],
       dtype='object'))

In [89]:
toDrop=['geoid','county','cases_avg','cases_avg_per_100k','deaths_avg','deaths_avg_per_100k','deaths']
COVIDSTATECASES.drop(columns=toDrop, inplace=True)

In [90]:
toDrop=['geoid','county','cases_avg','cases_avg_per_100k','deaths_avg','deaths_avg_per_100k','cases']
COVIDSTATEDEATHS.drop(columns=toDrop, inplace=True)

In [91]:
COVIDSTATECASES.rename(columns={'date':'Month','cases':'COVIDCases','state':'State'}, inplace=True)

In [92]:
COVIDSTATEDEATHS.rename(columns={'date':'Month','deaths':'COVIDDeaths','state':'State'}, inplace=True)

In [93]:
##FOTMATTING DATA##

In [94]:
COVIDSTATECASES.replace("\,",'',regex=True)

           Month                     State  COVIDCases
0        January                Washington           1
1        January                Washington           0
2        January                Washington           0
3        January                Washington           0
4        January                  Illinois           1
...          ...                       ...         ...
890356  December  Northern Mariana Islands           0
890357  December            Virgin Islands           0
890358  December            Virgin Islands           8
890359  December            Virgin Islands           6
890360  December            Virgin Islands           7

[890361 rows x 3 columns]

In [95]:
COVIDSTATEDEATHS.replace("\,",'',regex=True)

           Month                     State  COVIDDeaths
0        January                Washington            0
1        January                Washington            0
2        January                Washington            0
3        January                Washington            0
4        January                  Illinois            0
...          ...                       ...          ...
890356  December  Northern Mariana Islands            0
890357  December            Virgin Islands            0
890358  December            Virgin Islands            0
890359  December            Virgin Islands            0
890360  December            Virgin Islands            0

[890361 rows x 3 columns]

In [96]:
COVIDSTATECASESFinal=COVIDSTATECASES.replace("\,",'',regex=True).copy()

In [97]:
COVIDSTATEDEATHSFinal=COVIDSTATEDEATHS.replace("\,",'',regex=True).copy()

In [98]:
COVIDSTATECASESFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890361 entries, 0 to 890360
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Month       890361 non-null  object
 1   State       890361 non-null  object
 2   COVIDCases  890361 non-null  int64
dtypes: int64(1), object(2)
memory usage: 20.4+ MB

In [99]:
COVIDSTATEDEATHSFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890361 entries, 0 to 890360
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Month        890361 non-null  object
 1   State        890361 non-null  object
 2   COVIDDeaths  890361 non-null  int64
dtypes: int64(1), object(2)
memory usage: 20.4+ MB

In [100]:
##EXPORTING DATA TO CSV##

In [101]:
COVIDSTATECASESFinal.to_csv('COVIDSTATECASES.csv', index=False)

In [102]:
COVIDSTATEDEATHSFinal.to_csv('COVIDSTATEDEATHS.csv', index=False)