In [1]:
#DOWNLOADING DATA##

In [2]:
import pandas as pd

In [3]:
gitCloudRepo='https://github.com/543-Van-Deliverables/Deliverable-1/raw/main/'
fileName="us-counties-2020.csv"

In [4]:
COVIDSTATE=pd.read_csv(gitCloudRepo + fileName)

In [ ]:
##CLEANING DATA##

In [5]:
(COVIDSTATE.columns)

Index(['date', 'geoid', 'county', 'state', 'cases', 'cases_avg',
       'cases_avg_per_100k', 'deaths', 'deaths_avg', 'deaths_avg_per_100k'],
      dtype='object')

In [6]:
toDrop=['geoid','county','cases_avg','cases_avg_per_100k','deaths_avg','deaths_avg_per_100k']
COVIDSTATE.drop(columns=toDrop, inplace=True)

In [9]:
COVIDSTATE.rename(columns={'date':'Month','cases':'COVIDCases','deaths':'COVIDDeaths','state':'State'}, inplace=True)

In [ ]:
##FOTMATTING DATA##

In [10]:
COVIDSTATE.replace("\,",'',regex=True)

           Month                     State  COVIDCases  COVIDDeaths
0        January                Washington           1            0
1        January                Washington           0            0
2        January                Washington           0            0
3        January                Washington           0            0
4        January                  Illinois           1            0
...          ...                       ...         ...          ...
890356  December  Northern Mariana Islands           0            0
890357  December            Virgin Islands           0            0
890358  December            Virgin Islands           8            0
890359  December            Virgin Islands           6            0
890360  December            Virgin Islands           7            0

[890361 rows x 4 columns]

In [11]:
COVIDSTATEFinal=COVIDSTATE.replace("\,",'',regex=True).copy()

In [12]:
COVIDSTATEFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890361 entries, 0 to 890360
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Month        890361 non-null  object
 1   State        890361 non-null  object
 2   COVIDCases   890361 non-null  int64
 3   COVIDDeaths  890361 non-null  int64
dtypes: int64(2), object(2)
memory usage: 27.2+ MB

In [ ]:
##EXPORTING DATA TO CSV##

In [13]:
COVIDSTATEFinal.to_csv('COVIDSTATE.csv', index=False)